.metrics-conteiner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    gap:1rem
}

.grafico-cartas{

    width:100px;
    height: 100px;
}
.titles-metrics-home{
    color:#f9f9fbd2
}

.carta-metricas{
    display: flex;
    justify-content: space-around;
    background-color:#0000001e;
    border:none;
    color: #f9f9fbd2 !important;
    box-shadow: 0 0 10px #333333;
    z-index: 9999;

}

@media (max-width: 985px) {
    .metrics-conteiner{
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        margin: 2rem;
        gap:1rem
    }
  }